* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

}

.background-img-container {
  max-width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../assets/treats-table.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px;
}

.sign-in-container {
  background-color: pink;
  margin: 0px auto;
  max-width: 100%;
}

.img-form-container {
  display: flex;
  max-width: 100%;

}

.img-container img {
  max-width: 100%;
  height: 70vh;
}

img {
  display: block;
}

h1 {
  font-family: "Dreaming-outloud-script";
  color: #c23701;
}

input {
  display: block;
}

.form-container {
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 100px;
}
