<div class="container">
  <div class="background-img-container">
    <div class="sign-in-container">
      <div class="img-form-container">
        <div class="img-container">
          <img src="../../assets/treats-table-cut.jpg">
        </div>

        <div class="form-container">
          <form>
            <div class="form-header">
              <h1>Sign In</h1>
            </div>

            <input type="text" placeholder="Username or email">
            <input type="password" placeholder="Password">
            <button type="submit">Login</button>
          </form>
          <div class="account-or-password">
            <a routerLink="register">Create an account</a>
            <a href="#">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
