
nav {
  display: flex;
  width: 100%;
  margin-top: 30px;
  align-items: flex-end;
}

h1 {
font-family: "dreaming-outloud-script", sans-serif;
font-weight: 400;
color: #c23701;
width: 25%;
font-size: 40px;
margin: 0 0 0 20px;
}

h1:hover {
  cursor: pointer;
}


.center-links {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

}

.center-links a {
  text-decoration: none;
  margin: 0 30px 0 30px;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;

}

.icons {
  display: flex;
  align-items: flex-end;
  /*flex: 1 1;*/
}


svg {
  margin: 0 20px 0 20px;
  width: 25px;
  height: auto;
}


.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}


@media(max-width: 955px) {

  .btn-mobile-nav {
    display: block;
  }

  .center-links {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
  }

  .main-nav {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

  }

  /* This will show the x close outline(to
  close the page) when the window is
  smaller or equal to 955px */
  .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  /* This will hide the menu outline
  when the window is smaller or equal
  to 955px */
  .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}
