* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

header {
  grid-column: 1/ -1;
  background-color: #feefe8;
  padding: 4rem;
  text-align: center;
}


p, h2, h3 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p {
  padding: 5rem 5rem;
  line-height: 4rem;
  font-size: 2.4rem;
}

.grid-item {
  max-width: 100%;

}

.grid-item img {
  max-width: 100%;
  display: block;
}

.our-story {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-items: center;
  background-color: #e8fffd;
}

.about-text {
  padding-top: 10rem;
}

.cake-shop-div {
  background-color: #feefe8;
}

.cake-shop {

  height: auto;
}

.chocolate-bars-div {
  background-color: #e8fffd;
}


.vintage-cakes-div {
  background-color: #feefe8;
}



.chocolate-box {
  background-color: #feefe8;
  grid-column-start: 1;
  grid-column-end: 2;
}

.cake-box {
  background-color: #e8fffd;

}

.box-3 {
  background-color: #ffafc0;
}

/* 1160px */
@media(max-width: 73em) {
  h2 {
    font-size: 3em;
  }

  p {
    padding: 3rem 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
  }

  .about-text {
    padding-top: 5rem;
  }
}

 /* 856px */
@media(max-width: 54em) {

h2 {
  font-size: 2em;
}

p{
  padding: 1.5rem 1.5rem;
  line-height: 2rem;
  font-size: 1.6rem;
}

.about-text {
  padding-top: 3rem;
}
}

/* 580px */
@media(max-width: 37em) {

  .container {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.4rem;
  }

  about-text {
    padding-top: 0;
  }
}
