<div class="container">



    <div class="our-story">
      <h3>Our Story</h3>
      <p>Sweet Cakes is a delightful cupcake website that caters to baking enthusiasts and dessert lovers alike. This online hub offers a comprehensive range of services, from unique cupcake recipes to custom cupcake orders for special occasions. The site is beautifully designed with a charming, pastel color scheme that immediately evokes a sense of whimsy and sweetness, perfectly aligning with its theme.
      Upon visiting Sweet Cakes, users are greeted with a variety of options. The recipe section is extensive, featuring classic flavors like vanilla and chocolate, as well as innovative creations such as lavender honey and matcha green tea cupcakes. Each recipe is meticulously detailed, providing step-by-step instructions, ingredient lists, and high-quality photos to guide bakers of all skill levels.
      For those looking to order cupcakes rather than bake them, Sweet Cakes offers a customizable order service. </p>
    </div>

    <div class="cake-shop-img">
      <img src="../../assets/cake-shop.jpg" length="auto" width="400">
    </div>

    <div class="box-1">
      <p>Chocolate
        Chocolates - We have a new line of premium chocolates! These were inspired by some of our iconic cupcake flavors! Our new Chocolate Bars and Mini Chocolates are now available at all our bakeries.</p>
    </div>

    <div class="chocolate-bars-img">
      <img src="../../assets/chocoalte-bars.jpg" length="400" width="400">
    </div>

    <div class="box-2">

    </div>

    <div class="box-3">

    </div>
</div>


