* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;
  margin: 50px 350px;
  grid-template-columns: 1fr 1fr;
}

header {
  grid-column: 1/ -1;
  background-color: #feefe8;
  padding: 40px;
  text-align: center;
}


p, h2, h3 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

p {
  padding: 10px 40px;
  line-height: 2em;
}

.our-story {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-items: center;
  background-color: #e8fffd;
}

.about-text {
  padding-top: 100px;
}

.cake-shop-div {
  background-color: #feefe8;
}

.cake-shop {
  width: 600px;
  height: auto;
}

.chocolate-bars-div {
  background-color: #e8fffd;
}

.chocolate-bars {
  width: 600px;
}

.vintage-cakes-div {
  background-color: #feefe8;
}

.vintage-cakes {
  width: 600px;
}


.chocolate-box {
  background-color: #feefe8;
  grid-column-start: 1;
  grid-column-end: 2;
}

.cake-box {
  background-color: #e8fffd;

}

.box-3 {
  background-color: #ffafc0;
}

/*@media(max-width: 768px) {
  .our-story > div {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

*/
