<div class="container">

  <header>
    <img src="../../assets/sweetcakes-sticker.png" length="200" width="200">
  </header>

    <div class="about-text our-story">
      <h2>Our Story</h2>

      <p>Sweet Cakes opened its doors in 1952. Since then we have focused on creating delicious treats for dessert lovers alike. Our founder had a love for baking that lives on through our Cakes which are baked and meticulously detailed with fresh ingredients that are locally made. </p>

    </div>

    <div class="cake-shop-div">
      <img class="cake-shop" src="../../assets/cake-shop.jpg">
    </div>


    <div class="about-text chocolate-box">
      <h2>Chocolate</h2>
       <p> Chocolates - We have a new line of premium chocolates! These were inspired by some of our iconic cupcake flavors! Our new Chocolate Bars and Mini Chocolates are now available at all our bakeries.</p>
    </div>

    <div class="chocolate-bars-div">
      <img class='chocolate-bars' src="../../assets/chocoalte-bars.jpg" >
    </div>

    <div class="about-text cake-box">
      <h2>Vintage Cakes</h2>
      <p>Our signature selection of vintage cakes! Whether you're celebrating a birthday, an anniversary, a holiday, or just because! We're here to make your day special with handmade specialized cakes for you.</p>

    </div>

    <div class="vintage-cakes-div">
      <img class="vintage-cakes" src="../../assets/vintage-cakes.jpg">
    </div>

    <div class="box-3">

    </div>
</div>


