* {
  font-family: "DM Sans";
}


.container {
  margin: 0 auto;
  background-color: #fff0ee;

  padding-bottom: 10px;
  margin-top: 20px;

}


.img-container {
  width: 100%;
  text-align: center;
}

img {
  width: 75%;
}

.info {
  text-align: center;
}

.pink {
  color: #f96d8d;
}

p {
  font-weight: 600;
  font-size: 2.4rem;
}

hr {
  width: 30rem;
  border: 1px solid #f96d8d;
}

.info {
  position: relative;

}

.circles {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}



#circle-1 {
 position: absolute;
 top: 10rem;
 left: 6rem;
 max-width: 8rem;
}

#circle-2 {
  position: absolute;
  top: 5rem;
  right: 17rem;
  max-width: 7rem;
}

#circle-3 {
  position: absolute;
  top: 27rem;
  left: 16rem;
  width: 10rem;
}

#circle-4 {
  position: absolute;
  right: 8rem;
  top: 20rem;
  width: 10rem;

}

#circle-5 {
  position: absolute;
  right: 23rem;
  bottom: 2rem;
  width: 7rem;
}

h3 {
  font-size: 3rem;
}

/* 1152px */
@media(max-width:72em) {

  #circle-2 {
    top: 10rem
  }
}

/* 865px */
@media (max-width: 55em) {
  #circle-1, #circle-2, #circle-3, #circle-4, #circle-5 {
    display: none;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* 650px */
@media(max-width: 41em) {
  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  img {
    width: 85%;
  }
}

/* 340px */
@media(max-width: 22em) {
  img {
    width: 90%;
  }

  hr {

  }
}
