<div class="container">

  <div class="img-container">

    <img src="../../assets/cupcake-box-banner.jpg" width="960">

  </div>

  <div class="info">

    <div class="circles">
      <img id="circle-1" class="pb-circle" src="../../assets/pink-babyblue-circle.png">
      <img id="circle-2" class="pb-circle" src="../../assets/red-circle.png">
      <img id="circle-3" class="pb-circle" src="../../assets/white-circle.png">
      <img id="circle-4" class="pb-circle" src="../../assets/light-pink-blue-circle.png">
      <img id="circle-5" class="pb-circle" src="../../assets/light-blue-circle.png">
    </div>



    <h5>For general questions or feedback: eat@sweetcakes.com</h5>

    <h3>To place an order call 222.444.6688</h3>


    <p class="pink">Questions about an existing order?</p>
    <p>order@sweetcakes.com</p>

    <hr>

    <p class="pink">Perks Loyalty Inquiries</p>
    <p>perks@sweetcakes.com</p>

    <hr>

    <p class="pink">Address:</p>
    <p>987 Avocado Dr,</p>
    <p>New York, NY 93847</p>
  </div>


</div>
