<div class="container">
  <header>
    <img src="../../assets/sweetcakes-sticker.png" length="200" width="200">
  </header>

  <div class="menu">

    <div class="menu-title">
      <h1>All Cupcakes</h1>
    <p>Enjoy the sweetness! We have a variety of flavors and choices for your tastebuds. We have new Sweet Cake flavors every month. You’ll wanna try them all!</p>
    </div>



    <div class="cupcake-container">
      <div class="strawberry">
        <img src="../../assets/pink-love-cupcake.jpg" length="200" width="200">
        <h3>Strawberry Love</h3>
        <p>Strawberry frosting on top of a sweet vanilla cupcake. With love on top.</p>
      </div>

      <div class="dark-chocolate">
        <img src="../../assets/dark-chocolate.jpg" length="200" width="200">
        <h3>Dark Chocolate</h3>
        <p>Milk chocolate frosting on top of a dark chocolate cake.</p>
      </div>

      <div class="vanilla-fantasy">
        <img src="../../assets/carrot-cupcakes.jpg"  length="200" width="200">
        <h3>Vanilla Fantasy</h3>
        <p>Vanilla cake with colorful frosting. Carrot detail for fun.</p>
      </div>

      <div class="red-velvet">
        <img src="../../assets/red-velvet-cupcake.png" alt="Red velvet cupcake."  length="200" width="200">
        <h3>Red Velvet</h3>
        <p>A delicious red velvet cupcake with white frosting.</p>
      </div>

      <div class="sprinkle">
        <img src="../../assets/Funfetti-Cupcakes-2.jpg" alt="Vanilla cupcake with rainbow sprinkles."  length="200" width="200">
        <h3>Sprinkle</h3>
        <p>A colorful vanilla cupcake with pink frosting and rainbow sprinkles.</p>
      </div>

      <div class="lemon">
        <img src="../../assets/lemon-cupcake.jpg" alt="Lemon Cupcake" length="200" width="200">
        <h3>Lemon Love</h3>
        <p>Lemon cupcake flavor with white frosting.</p>
      </div>
    </div>
  </div>
</div>
