* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

/* 1872px */
@media(max-width: 117em) {

html {
  font-size: 52%;
}

}

