


<div class="container">

  <header>
    <img src="../../assets/pink-cupcake.png" width="200" height="200">

    <div class="sweet-delights">
      <h1>Sweet Delights in Every Bite</h1>
      <button type="button">Order Now!</button>
    </div>

    <img src="../../assets/pink-cake.png" width="200" height="200">
  </header>

  <div class="new-flavors">


      <div class="cherry-cake">
        <img id="cherry-cake" src="../../assets/chocolate-cherry-cake.jpg">
      </div>

      <div class="new-flavors-text">
        <h3>New Flavors Every Month!</h3>
        <p>Indulge in our cupcakes for a delightful experience that blends rich flavors, moist textures, and artistic presentation. Each cupcake is crafted with premium ingredients, ensuring a burst of taste in every bite. Perfect for any occasion, our cupcakes promise to elevate your dessert experience with their irresistible charm and heavenly sweetness. Treat yourself to the joy of our gourmet creations today!</p>
        <button type="button">Place an Order</button>
      </div>

  </div>

  <div class="menu-examples">

    <!-- Three pictures containers for sweets examples. -->

    <div class="three-cupcakes">
      <img src="../../assets/three-cupcakes.png">
      <!-- Text for image -->
      <a class="food-text" href="./home.component.html">Sweet Delights</a>
    </div>

    <div class="rice-crispy">
      <img src="../../assets/rice-crispy-popsicle.png">
      <!-- Text for image -->
      <a class="food-text" href="./home.component.html">Delicious</a>
    </div>


    <div class="cake">
      <img src="../../assets/teal-cake.png">
      <!-- Text for image -->
      <a class="food-text" href="./home.component.html">Celebrate with Cake</a>
    </div>

  </div>

  <div class="reward">
    <h1>Reward yourself with points!</h1>
    <p>When you buy with Sweet Cakes you get rewards. Every dollar you spend gives you the opportunity for free sweets!</p>

    <div class="icons">
      <div class="mobile">
        <img src="../../assets/phone.png">
        <h4>Mobile Order</h4>
      </div>

      <div class="points">
        <img src="../../assets/trophy.png">
        <h4>Get points</h4>
      </div>

      <div class="deals">
        <img src="../../assets/heart.png">
        <h4>Sweet Deals</h4>
      </div>

      <div class="free">
        <img src="../../assets/cartoon-cupcake.png">
        <h4>Free Cupcakes</h4>
      </div>
    </div>

    <button class="discover" type="button">Discover Rewards</button>
  </div>

  <div class="more-menu-examples">

      <img src="../../assets/candle-cupcake.png">
      <img src="../../assets/red-chocolate-treats.png">
      <img src="../../assets/berries-treat.png">
      <img src="../../assets/succulent-cupcake-crop.png">
  </div>

<div>





