/* -FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


-Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 5rem;
  padding: 0 3rem;
}


header {
  grid-column: 1/5;


  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-width: 100%;
}

header img {
  max-width: 15%;
  height: auto;
  display: block;
}

.sweet-delights {
  text-align: center;
  display: block;
  margin-top: 4rem;
}


.new-flavors {
  grid-column: 1/5;
  display: flex;

  font-family: "DM Sans";
  /* background-color: rgb(255, 177, 216); */
  background-color: pink;
  max-width: 100%;
}

.cherry-cake {
  max-width: 45%;
}

.cherry-cake img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 4.5rem;
  padding: 2rem;
}

/* max-width for cherry cake defaults to
25% because its what remains */
.new-flavors-text {
  max-width: 55%;
  text-align: center;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-flavors p {
  font-size: 2rem;
  line-height: 4rem;
  padding: 3rem;
}

.new-flavors button {
  border: none;
  background-color: rgb(253, 158, 187);
  padding: 2.5rem;
  border-radius: 2.5rem;
  font-size: 2rem;
}

.menu-examples {
  grid-column: 1/5;
  display: flex; /* Automatically is set to row*/

  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  max-width: 100%;
}


.treats {
  max-width: 25%;
  margin: 10rem;
  border-radius: 7rem;
}

.three-cupcakes {
  background-color: #baf9ff;
}

.three-cupcakes img{
  max-width: 100%;
}

.rice-crispy {
  background-color: #dfffb4;
}

.rice-crispy img {
  max-width: 100%;
}

.cake {
  background-color: #ffe785;

}

.cake img {
  max-width: 100%;
}


.food-text {
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "DM Sans";
  background-color: rgb(255, 233, 237);
  color: #000;
  padding: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  display: block;

}

.three-cupcakes a, .rice-crispy a,
.cake a {
  font-size: 1.6rem;
}

.three-buttons{
 width: 100px;
}

.reward {
  text-align: center;
  grid-column: 1/5;
  max-width: 100%;
}

.reward h2 {
  margin: 8rem 0 3rem 0;
  font-size: 4rem;
  font-family: "DM Sans";
}

.reward p {
  margin-bottom: 8rem;
  font-size: 2rem;
  font-family: "DM Sans";
}



h4 {
  font-family: "DM Sans";
  font-size: 2rem;
}


.icons {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.icons div {
  flex-direction: column;
}

.icons img {
  max-width: 100%;
}

.discover {
  background-color: pink;
  border: 0;
  font-weight: 500;
  padding: 2.5rem;
  border-radius: 2.5rem;
  font-size: 2rem;
  margin: 6rem;
}

.more-menu-examples {

  max-width: 100%;
  grid-column: 1/5;

  display: flex;
  gap: 0;
}


.example-images img{
  max-width: 25%;
}

/* ********************* */
/* BEGIN MEDIA QUERIES */
/***********************/



/* 1550px breakpoint */
 @media (max-width: 97em) {

  .new-flavors button {
    border: none;
    background-color: rgb(253, 158, 187);
    padding: 2.5rem;
    border-radius: 2.5rem;
    font-size: 2rem;
  }

  h3 {
    padding: 1rem;
  }

  .new-flavors p {
    padding: 3rem;
  }

  .treats {
    margin: 5rem;
  }

}

@media(max-width: 78em){
  .new-flavors-text h3 {
    font-size: 3rem;
  }

  .new-flavors p {
    padding: 2rem;
    line-height: 3rem;
  }

  .reward h2 {
    margin: 2rem 0 3rem 0;
  }
}

/* 960px */
@media(max-width: 60em) {
  .new-flavors-text h3 {
    font-size: 2.5rem;
  }

  .new-flavors p {
    line-height: 2.5rem;
    padding: 1.5rem;
  }

  .new-flavors button {
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
  }

  .sweet-delights h1 {
    font-size: 4rem;
  }

  .treats {
    margin: 3.5rem;
  }
}

/* 780px */
@media(max-width: 49em) {
  .sweet-delights h1 {
    font-size: 3rem;
    padding: 1.6rem;
  }

  .new-flavors-text h3 {
    font-size: 1.8rem;
  }

  .new-flavors p {
    line-height: 1.8rem;
    font-size: 1.4rem;
  }

  .new-flavors button {
    padding: 1rem;
    border-radius: 1rem;
  }

  .treats {
    margin: 1.5rem;
    border-radius: 4rem;
  }
}

/* 585px */
@media(max-width: 37em){

  .sweet-delights h1 {
    padding: 1rem;
    font-size: 2rem;
  }

  .new-flavors {
    flex-direction: column;
  }

  .cherry-cake {
    max-width: 100%;
  }

  .new-flavors-text {
    max-width: 100%;
    padding: 4rem;
  }

  .reward h2 {
    font-size: 3rem;
    margin: 2rem 0 3rem 0;
  }

  .reward p {
    margin-bottom: 4rem;
  }

  .icons {
    gap: 4rem;
  }

  .discover {
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-size: 1.4rem;
  }

  .example-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

  .example-images img {
    max-width: 100%;
  }
}

/* 416px */
@media(max-width: 26em) {
  header {
    padding: 0;
  }

  .treats {
    margin: 1rem;
  }

  .reward h2 {
    font-size: 2.4rem;
  }

  .icons {
    gap: 2rem;
  }

  .treats {
    border-radius: 2rem;
  }

}
