<div class="container">
  <div class="background-img-container">

    <div class="register-container">
      <div class="registration">
        <div class="register-header">
          <h1>Register</h1>
        </div>
        <!-- The form -->
        <form>

          <input type="text" placeholder="Email">

          <input type="text" placeholder="Confirm email">

          <input type="password" placeholder="Password">

          <input type="password" placeholder="Confirm password">
        </form>

        <!-- The security questions -->
        <div class="security-questions">
          <div class="question">
            <select>
              <option value="">Please choose one question:</option>
              <option value="pet">What is the name of your first pet?</option>
              <option value="elementary-school">What is the name of your elementary school?</option>
              <option value="middle-name">What is your fathers middle name?</option>
              <option value="high-school-year">What year did you graduate high school?</option>
              <option value="favorite-teacher">Who was your favorite teacher?</option>
              <option value="birth-city">In what city were you born?</option>
              <option value="car">What was the make and model of your first car?</option>
            </select>
            <input type="text" placeholder="Answer">
          </div>

          <div class="question">
            <select>
              <option value="">Please choose one question:</option>
              <option value="pet">What is the name of your first pet?</option>
              <option value="elementary-school">What is the name of your elementary school?</option>
              <option value="middle-name">What is your fathers middle name?</option>
              <option value="high-school-year">What year did you graduate high school?</option>
              <option value="favorite-teacher">Who was your favorite teacher?</option>
              <option value="birth-city">In what city were you born?</option>
              <option value="car">What was the make and model of your first car?</option>
            </select>
            <input type="text" placeholder="Answer">
          </div>

          <div class="question">
            <select>
              <option value="">Please choose one question:</option>
              <option value="pet">What is the name of your first pet?</option>
              <option value="elementary-school">What is the name of your elementary school?</option>
              <option value="middle-name">What is your fathers middle name?</option>
              <option value="high-school-year">What year did you graduate high school?</option>
              <option value="favorite-teacher">Who was your favorite teacher?</option>
              <option value="birth-city">In what city were you born?</option>
              <option value="car">What was the make and model of your first car?</option>
            </select>
            <input type="text" placeholder="Answer">
          </div>
        </div>
        <!-- The submit button for the form -->
        <button class="btn" type="submit">Submit</button>
      </div>

    </div>
  </div>

</div>
